/*
wiki article cookie crumbs
********************************************************************** */

.crumbs {
    @include bidi-value(float, left, right);
    display: inline-block;
    margin-top: 10px;

    @include set-smaller-font-size();

    li {
        @include bidi-style(margin-right, 5px, margin-left, 0);
        display: inline-block;

        &:first-child {
            display: none;
        }

        &:nth-child(2) {
            display: none;
        }

        &:last-child {
            display: none;
        }

        &:nth-last-child(2) {
            a:after {
                display: none;
            }
        }
    }

    a {
        display: block;
        line-height: 1;

        &:after {
            @include bidi-style(margin-left, 4px, margin-right, 0, true);
            @include bidi-style(content, '\f054', content, '\f053');
            display: inline-block;
            font-family: FontAwesome;
            text-decoration: none;
            color: $text-color;
            @include set-font-size(70%);
            vertical-align: middle;
            padding-left: 5px;
        }
    }

    @include reverse-link-decoration();
}

@media print {
    .crumbs {
        display: none;
    }
}


/*

.crumbs {
    @include bidi-value(float, left, right);
    display: inline-block;

    .hasStickyTOC & {
        display: none;
    }

    li {
        @include bidi-style(margin-right, ($grid-spacing / 2), margin-left, 0);
        display: none;
    }

    li:nth-last-child(2) {
        display: block;
    }

    a {
        display: block;
        line-height: 1;

        &:before {
            @include bidi-style(margin-right, 4px, margin-left, 0, true);
            @include bidi-style(content, '\f053', content, '\f054');
            display: inline-block;
            font-family: FontAwesome;
            text-decoration: none;
            color: $text-color;
            @include set-font-size(70%);
            vertical-align: middle;
        }
    }

    @include reverse-link-decoration();
}

@media #{$mq-mobile-and-up} {
    // make them sit inline with .page-actions buttons
    .crumbs {
        padding: 5px 0;

        a {
            border: $form-border-width solid transparent;
            padding: 5px 0;
        }
    }
}

@media print {
    .crumbs {
        display: none;
    }
}

*/
